<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta name="google-signin-client_id" content="711260327111-ah5bkfdknfp72veb7g5m90id1nanhqno.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.16.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/amazon-cognito-identity-js"></script>
  <script src="myScript.js"></script>
  <title>Mears Avenue Apartments</title>
</head>
<body>
  <header>
    <h1>Mears Avenue Apartments</h1>
  </header>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/featured">Featured Properties</a></li>
    <li><a href="/account">Sign Up / Sign In</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/index">Database</a></li>
  </ul>
</nav>

  <main>
    <h2>Welcome to Mears Avenue Apartments</h2>

    <h2>About Us</h2>

    <section id="about">
      <p>Our real estate company has been helping people find affordable housing for several years. We offer among the lowest rent in North Carolina and are family-owned. Our founder and owner, Erick Schultz, takes great pride in providing comfortable and convenient housing options for individuals and families alike. Our apartments are located in the charming town of Canton, nestled in the beautiful mountains of Western North Carolina, just a short drive from the vibrant city of Asheville. We're dedicated to providing our residents with a comfortable and welcoming home, and we look forward to serving you.</p>
      <img src="homeImg1.png" id="aboutImg">
      <img src="homeImg2.png" id="aboutImg">
      <img src="homeImg3.png" id="aboutImg">
      <img src="homeImg4.png" id="aboutImg">

    </section>

    <img src="homeImg.png" id="homeImg">
  </main>


<footer>
  <img src="appOrSoftLogo.png" alt="AppOrSoft Logo" class="logo">
  <p>&copy; 2023 AppOrSoft. All Rights Reserved.</p>
  <p><a href="/privacy">Privacy Policy</a> | <a href="/tos">Terms of Service</a></p>
</footer>


</body>

</html>
