<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Privacy Policy</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="myScript.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.919.0.min.js"></script>

</head>

<body>
  <header>
  <nav>
    <ul>
      <li><a href="home.html">Home</a></li>
      <li><a href="featured.html">Featured Properties</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="index.html">Database</a></li>
      <li><a href="privacy.html">Privacy Policy</a></li>
    </ul>
  </nav>
  <main>
    <h2>Introduction</h2>
    <p>Your privacy is important to us. It is our policy to respect your privacy regarding any information we may collect from you across our website and other sites we own and operate.</p>

    <h2>Information we collect</h2>
    <p>We collect personal information when you register on our site, place an order, subscribe to our newsletter, respond to a survey or fill out a form. This may include your name, email address, mailing address, phone number, or credit card information.</p>

    <h2>How we use your information</h2>
    <p>We may use your information to:</p>
    <ul>
      <li>Process transactions</li>
      <li>Send periodic emails</li>
      <li>Improve our website</li>
    </ul>

    <h2>Cookies</h2>
    <p>We use cookies to personalize content and ads, to provide social media features and to analyze our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information that you’ve provided to them or that they’ve collected from your use of their services.</p>

    <h2>Third-party disclosure</h2>
    <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions or concerns about our privacy policy, please contact us at privacy@yourcompany.com.</p>
  </main>


    <footer>
  <img src="appOrSoftLogo.png" alt="AppOrSoft Logo" class="logo">
  <p>&copy; 2023 AppOrSoft. All Rights Reserved.</p>
  <p><a href="/privacy">Privacy Policy</a> | <a href="/tos">Terms of Service</a></p>
</footer>




</body>

</html>
